<div class="cta-block">
	<div class="cta-block__btn cta-btn">
		<a class="cta-btn__link" href="{{ cta_url }}">{{ cta_text }}</a>
	</div>
	<div class="cta-block__subline cta-subline">{{ cta_subline }}</div>
</div>
